# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# CineVerse local database and scrapers data
backend/data/*.csv
backend/data/movie_details/chunk_*
backend/data/watch_provider_progress/chunk_*
backend/database/*.sql
python_scripts/

backend/data

# Python virtual environment
.venv/
venv/